.container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    margin: 0 auto;

}

.section1 {
    width: 100%;
    height: 972px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.8s;
}

.about-me {
    margin-left: 50%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

#hi {
    font-size: 50px;
}

#name {
    font-size: 71px;
    margin-top: 5px;
}

#designer {
    margin-top: 3px;
    font-size: 23px;
}

.icons1 {
    max-width: 20px;
    width: 100%;
    margin-bottom: 3px;
}

.icons2 {
    margin-top: 5px;
    max-width: 30px;
    width: 100%;
}

.icons3 {
    margin-bottom: 4px;
    max-width: 30px;
    width: 100%;
}

.icons4 {
    max-width: 30px;
    width: 100%;
}

.slider-percentage {
    margin-top: 230px;
    margin-left: 70%;
}

.hundred {
    color: #ffffff;
    font-size: 24px;
}

.satisfied {
    font-size: 24px;
}

.slider-animation {
    max-width: 340px;
    width: 100%;
    height: 6px;
    background-color: rgb(235, 220, 220);
    border-radius: 20px;
    position: absolute;
}

.animation {
    height: 6px;
    width: 100%;
    animation: animate 4s;
    position: relative;
    background-color: #E93656;
}

@keyframes animate {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}