.container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.section1 {
    width: 100%;
    height: 972px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.8s;
}

.about-me {
    margin-left: 50%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

#hi {
    font-size: 50px;
}

#name {
    font-size: 71px;
    margin-top: 5px;
}

#designer {
    margin-top: 3px;
    font-size: 23px;
}

.icons1 {
    max-width: 20px;
    width: 100%;
    margin-bottom: 3px;
}

.icons2 {
    margin-top: 5px;
    max-width: 30px;
    width: 100%;
}

.icons3 {
    margin-bottom: 4px;
    max-width: 30px;
    width: 100%;
}

.icons4 {
    max-width: 30px;
    width: 100%;
}

.slider-percentage {
    max-width: 250px;
    width: 100%;
    margin-top: 230px;
    margin-left: 60%;
}

.hundred {
    color: #ffffff;
    font-size: 24px;
}

.satisfied {
    font-size: 24px;
}

.slider-animation {
    max-width: 230px;
    width: 100%;
    height: 6px;
    background-color: rgb(235, 220, 220);
    border-radius: 20px;
    position: absolute;
}

.animation {
    height: 6px;
    width: 100%;
    animation: animate 4s;
    position: relative;
    background-color: #E93656;
}

@keyframes animate {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

.section2 {
    display: flex;
    max-width: 1920px;
    width: 100%;
}

.sec2-1 {
    margin-top: 218px;
    max-width: 323px;
    width: 100%;
    margin-left: 19%;
}

.sec2-name {
    font-size: 40px;
}

.sec2-prof {
    margin-top: 5px;
    font-size: 14px;
    color: #DAAE19;
    margin-left: 190px;
}

.sec2-bio {
    margin-top: 32px;
    font-size: 15px;
}

.hire-button {
    margin-top: 60px;
    background-color: #E93656;
    max-width: 152px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27%;
    border-radius: 10%;
}

.hire-word {
    color: white;
}

.sec2-2 {
    margin-top: 135px;
    max-width: 430px;
    width: 100%;
}

.mid-me {
    border-radius: 5%;
}

.sec2-3 {
    max-width: 735px;
    width: 100%;
    margin-left: 20px;
}

.animations {
    max-width: 302px;
    width: 100%;
    max-height: 296px;
    height: 100%;
    margin-top: 194px;
}

.animation1 {
    height: 6px;
    width: 90%;
    animation: animate1 6s;
    position: relative;
    background-color: #E93656;
}

@keyframes animate1 {
    from {
        width: 0px;
    }

    to {
        width: 90%;
    }
}

.slider-animation1 {
    max-width: 230px;
    width: 100%;
    height: 6px;
    background-color: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    display: flex;
}

.percantage {
    margin-top: 10px;
    color: rgb(190, 28, 28);
}





.animation2 {
    margin-top: 20px;
    height: 6px;
    width: 90%;
    animation: animate1 8s;
    position: relative;
    background-color: #a04f5f;
}

@keyframes animate2 {
    from {
        width: 0px;
    }

    to {
        width: 90%;
    }
}

.slider-animation2 {
    margin-top: 100px;
    max-width: 230px;
    width: 100%;
    height: 6px;
    background-color: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    display: flex;
}

.slider-animation3 {
    margin-top: 200px;
    max-width: 230px;
    width: 100%;
    height: 6px;
    background-color: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    display: flex;
}

.icons1 {
    margin-left: 20px;
}

.section3 {
    max-width: 1920px;
    width: 100%;
    background-color: #131A36;
    margin-top: 100px;
}

.sec3-part {
    max-width: 295px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sec3-icon:hover {
    background-color: #E93656;
    border-radius: 50%;
    transition: 1.5s;

}

.sec3-icon {
    max-width: 90px;
    width: 100%;
}

.elipse {
    position: relative;
}

.elipse:hover {
    opacity: 0;
    transition: 1.5s;
}

.mobile {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}

.adress {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.adress-style {
    margin-top: 5px;
    font-size: 14px;
}

.adress-style1 {
    font-size: 25px;
}

.sec3-parts {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

/* .sec3-icon:hover {

    border-radius: 50%;
    background-color: #E93656;
} */

.sec3-part1 {
    max-width: 295px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.gps {
    position: absolute;
    margin-left: 33px;
    margin-top: 30px;
}

.sec4-shrink {
    margin-top: 203px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
}

.line1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
}

.sec4-part {

    max-width: 285px;
    width: 100%;
    margin-left: 5px;

}

.sec4-icon {
    padding-top: 133px;
    max-width: 60px;
    width: 100%;
    margin-left: 35%;

}

.sec4-word {
    margin-top: 16px;
    font-size: 22px;
    margin-left: 17%;
}

.sec4-in {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
}

.on-sec4-part {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.on-word {
    color: white;
    padding-top: 130px;
    margin-left: 20%;
    font-size: 22px;
}

.on-word1 {
    color: white;
    margin-top: 18px;
    max-width: 216px;
    width: 100%;
    margin-left: 15%;
    font-size: 14px;
}

.sec4-in1 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
}

.on-sec4-part1 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4-in2 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
}

.on-sec4-part2 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4-in3 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part3 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.line2 {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
}

.sec4-in4 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part4 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4-in5 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part5 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4-in6 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part6 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4 {
    display: flex;
    justify-content: center;
}

.sec4-in7 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part7 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}


.sec5 {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 225px;
    padding-bottom: 225px;
    margin-top: 160px;
    /* background-color: #8a36f8; */
    background-image: url('../img/section5/rec-back.png');
}

.ph-word {
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;

}

.prof {
    color: #E93656;
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sec5-name {
    margin-left: 65px;
}

.recomendation {
    font-size: 15px;
    max-width: 504px;
    width: 100%;
    text-align: right;
    color: white;
}

.rec-image {
    border-radius: 50%;
}

.bullets {
    display: flex;
    flex-direction: column;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

.bullet {
    width: 13px;
    height: 13px;
    border: #d6ddd9 solid 2px;
    background-color: Transparent;
    background-repeat: no-repeat;
    margin-top: 14px;
}

.active {
    border: #E93656 solid 2px;
    ;
}

.sec6 {
    max-width: 1920px;
    width: 100%;
}

.sec6-shrink {
    max-width: 1170px;
    width: 100%;
}

.sec6-h {
    max-width: 445px;
    width: 100%;
    font-size: 70px;
    margin-left: 72%;
}