.container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.section1 {
    width: 100%;
    height: 972px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.8s;
}

.about-me {
    margin-left: 50%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

#hi {
    font-size: 50px;
}

#name {
    font-size: 71px;
    margin-top: 5px;
}

#designer {
    margin-top: 3px;
    font-size: 23px;
}

.icons1 {
    max-width: 20px;
    width: 100%;
    margin-bottom: 3px;
}

.icons2 {
    margin-top: 5px;
    max-width: 30px;
    width: 100%;
}

.icons3 {
    margin-bottom: 4px;
    max-width: 30px;
    width: 100%;
}

.icons4 {
    max-width: 30px;
    width: 100%;
}

.slider-percentage {
    max-width: 250px;
    width: 100%;
    margin-top: 230px;
    margin-left: 60%;
}

.hundred {
    color: #ffffff;
    font-size: 24px;
}

.satisfied {
    font-size: 24px;
}

.slider-animation {
    max-width: 230px;
    width: 100%;
    height: 6px;
    background-color: rgb(235, 220, 220);
    border-radius: 20px;
    position: absolute;
}

.animation {
    height: 6px;
    width: 100%;
    animation: animate 4s;
    position: relative;
    background-color: #E93656;
}

@keyframes animate {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

.section2 {
    display: flex;
    max-width: 1920px;
    width: 100%;
}

.sec2-1 {
    margin-top: 218px;
    max-width: 323px;
    width: 100%;
    margin-left: 19%;
}

.sec2-name {
    font-size: 40px;
}

.sec2-prof {
    margin-top: 5px;
    font-size: 14px;
    color: #DAAE19;
    margin-left: 190px;
}

.sec2-bio {
    margin-top: 32px;
    font-size: 15px;
}

.hire-button {
    margin-top: 60px;
    background-color: #E93656;
    max-width: 152px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27%;
    border-radius: 10%;
}

.hire-word {
    color: white;
}

.sec2-2 {
    margin-top: 135px;
    max-width: 430px;
    width: 100%;
}

.mid-me {
    border-radius: 5%;
}

.sec2-3 {
    max-width: 735px;
    width: 100%;
    margin-left: 20px;
}

.animations {
    max-width: 302px;
    width: 100%;
    max-height: 296px;
    height: 100%;
    margin-top: 194px;
}

.animation1 {
    height: 6px;
    width: 90%;
    animation: animate1 6s;
    position: relative;
    background-color: #E93656;
}

@keyframes animate1 {
    from {
        width: 0px;
    }

    to {
        width: 90%;
    }
}

.slider-animation1 {
    max-width: 230px;
    width: 100%;
    height: 6px;
    background-color: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    display: flex;
}

.percantage {
    margin-top: 10px;
    color: rgb(190, 28, 28);
}





.animation2 {
    margin-top: 20px;
    height: 6px;
    width: 90%;
    animation: animate1 8s;
    position: relative;
    background-color: #a04f5f;
}

@keyframes animate2 {
    from {
        width: 0px;
    }

    to {
        width: 90%;
    }
}

.slider-animation2 {
    margin-top: 100px;
    max-width: 230px;
    width: 100%;
    height: 6px;
    background-color: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    display: flex;
}

.slider-animation3 {
    margin-top: 200px;
    max-width: 230px;
    width: 100%;
    height: 6px;
    background-color: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    display: flex;
}

.icons1 {
    margin-left: 20px;
}

.section3 {
    max-width: 1920px;
    width: 100%;
    background-color: #131A36;
    margin-top: 100px;
}

.sec3-part {
    max-width: 295px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sec3-icon:hover {
    background-color: #E93656;
    border-radius: 50%;
    transition: 1.5s;

}

.sec3-icon {
    max-width: 90px;
    width: 100%;
}

.elipse {
    position: relative;
}

.elipse:hover {
    opacity: 0;
    transition: 1.5s;
}

.mobile {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}

.adress {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.adress-style {
    margin-top: 5px;
    font-size: 14px;
}

.adress-style1 {
    font-size: 25px;
}

.sec3-parts {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

/* .sec3-icon:hover {

    border-radius: 50%;
    background-color: #E93656;
} */

.sec3-part1 {
    max-width: 295px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.gps {
    position: absolute;
    margin-left: 33px;
    margin-top: 30px;
}

.sec4-shrink {
    margin-top: 203px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
}

.line1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
}

.sec4-part {

    max-width: 285px;
    width: 100%;
    margin-left: 5px;

}

.sec4-icon {
    padding-top: 133px;
    max-width: 60px;
    width: 100%;
    margin-left: 35%;

}

.sec4-word {
    margin-top: 16px;
    font-size: 22px;
    margin-left: 17%;
}

.sec4-in {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
}

.on-sec4-part {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.on-word {
    color: white;
    padding-top: 130px;
    margin-left: 20%;
    font-size: 22px;
}

.on-word1 {
    color: white;
    margin-top: 18px;
    max-width: 216px;
    width: 100%;
    margin-left: 15%;
    font-size: 14px;
}

.sec4-in1 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
}

.on-sec4-part1 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4-in2 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
}

.on-sec4-part2 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4-in3 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part3 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.line2 {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
}

.sec4-in4 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part4 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4-in5 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part5 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4-in6 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part6 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}

.sec4 {
    display: flex;
    justify-content: center;
}

.sec4-in7 {
    display: flex;
    flex-direction: column;
    background-color: #d6ddd9;
    display: block;
    padding-bottom: 129px;
    height: 348px;
}

.on-sec4-part7 {
    max-width: 280px;
    width: 100%;
    height: 346px;
    background-color: #131A36;
    display: none;
}


.sec5 {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 225px;
    padding-bottom: 225px;
    margin-top: 160px;
    background-image: url('../img/section5/rec-back.png');
}

.ph-word {
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;

}

.prof {
    color: #E93656;
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sec5-name {
    margin-left: 65px;
}

.recomendation {
    font-size: 15px;
    max-width: 504px;
    width: 100%;
    text-align: right;
    color: white;
}

.rec-image {
    border-radius: 50%;
}

.bullets {
    display: flex;
    flex-direction: column;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

.bullet {
    width: 13px;
    height: 13px;
    border: #d6ddd9 solid 2px;
    background-color: Transparent;
    background-repeat: no-repeat;
    margin-top: 14px;
}

.active {
    border: #E93656 solid 2px;
    ;
}

.sec6 {
    max-width: 1920px;
    width: 100%;
    margin-top: 144px;
}

.sec6-shrink {
    max-width: 1920px;
    width: 100%;
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.sec6-h {
    max-width: 1920px;
    width: 100%;
    font-size: 70px;
    display: flex;
    justify-content: center;

}

.sec6-words {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 110px;
    width: 100%;
    margin-top: 51px;
    margin-bottom: 51px;
}

.sec6-words span {
    margin-top: 50px;
}

.sec6-word-center {
    display: flex;
    justify-content: center;
    max-width: 250px;
    width: 100%;
    background-color: #15263E;
    height: 592px;
}

.sec6-projects {
    margin-left: 30px;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* remove wrap for responsive */
}

.sec6-proj {
    max-width: 300px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    background-image: url('../img/section6/img1.jpg');

}

.like-img {
    margin-top: 105px;
    max-width: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.proj-word1 {
    color: white;
    margin-top: 20px;
    font-size: 23px;
    padding-bottom: 121px;

}




.proj-word {
    background-color: rgba(236, 239, 241, 0.3);
    color: white;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 350px;
    display: none;
}

.proj-word22 {
    background-color: rgba(236, 239, 241, 0.3);
    color: white;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 350px;
    display: none;
}

.proj-word33 {
    background-color: rgba(236, 239, 241, 0.3);
    color: white;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 350px;
    display: none;
}

.proj-word11 {
    background-color: rgba(236, 239, 241, 0.3);
    color: white;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 350px;
    display: none;
}

.proj-word44 {
    background-color: rgba(236, 239, 241, 0.3);
    color: white;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 350px;
    display: none;
}

.proj-word55 {
    background-color: rgba(236, 239, 241, 0.3);
    color: white;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    height: 350px;
    display: none;
}

.all-word {
    cursor: pointer;
}

.work-word {
    cursor: pointer;
}

.mockup-word {
    cursor: pointer;
}

.psd-word {
    cursor: pointer;
}

.logo-word {
    cursor: pointer;
}

.pres-word {
    cursor: pointer;
}

.icons-word {
    cursor: pointer;
}

.sec6-proj11 {
    max-width: 300px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    background-image: url('../img/section6/img44.jpg');

}

.sec6-proj22 {
    max-width: 300px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    background-image: url('../img/section6/img11.jpg');

}

.sec6-proj33 {
    max-width: 300px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    background-image: url('../img/section6/img22.jpg');

}

.sec6-proj44 {
    max-width: 300px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    background-image: url('../img/section6/img33.jpg');

}

.sec6-proj55 {
    max-width: 300px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    background-image: url('../img/section6/img1.jpg');

}

.sec7 {
    margin-top: 279px;
}

.sec7-part {
    max-width: 1750px;
    width: 100%;
    display: flex;
    margin-top: 80px;
}

.sec7-header {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sec7-word {
    max-width: 427px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sec7-news {
    max-width: 91px;
    width: 100%;
    font-size: 13px;
    color: #2ED279;

}

.sec7-latest {
    max-width: 427px;
    width: 100%;
    font-size: 70px;
}

.part-lil-word {
    font-size: 14px;
    margin-top: 33px;
}

.part-header {
    font-size: 40px;
    margin-top: 5px;
}

.part-innertxt {
    max-width: 549px;
    width: 100%;
    margin-top: 27px;
}

.sec7-read-more {
    margin-top: 10px;
    margin-bottom: 139px;
    font-size: 25px;
}

.sec7-icon {
    max-width: 165px;
    width: 100%;
    margin-top: 79px;
}

.sec7-part-main {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    max-width: 800px;
    width: 100%;

}

.sec7-mid {
    max-width: 123px;
    width: 100%;
    background-color: #15263E;
}

.years {
    transform: rotate(-180deg);
    font-size: 30px;
    color: #E93656;
    max-width: 167px;
    width: 100%;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    margin-top: 230px;
}

.sec7-img-space {
    max-width: 827px;
    width: 100%;
    background-color: #E1E0DC;
}

.sec7-part1 {
    max-width: 1750px;
    width: 100%;
    display: flex;
    margin-top: 80px;
}

.sec7-part2 {
    max-width: 1750px;
    width: 100%;
    display: flex;
    margin-top: 80px;
}

.pad-insec {
    padding-left: 70px;
}

.visual1 {
    display: flex;
    justify-content: right;
}

.visual2 {
    display: flex;
    justify-content: left;
}

.section8 {
    margin-top: 279px;
}

.sec8-proj {
    max-width: 230px;
    width: 100%;
    background-color: #ddd8d8;
    border-radius: 10px;
    height: 190px;
}

.sec8-pr1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec8-img {
    border-radius: 10px;
    margin-top: 40px;
}

.sec8-pr2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
    margin-top: 50px;
    margin-left: 10px;

}

.sec8-proj:hover .sec8-img {
    display: none;
}

.sec8-proj:hover .sec8-pr2 {
    display: flex;
}

.sec8-projects {
    margin-top: 81px;
    display: flex;
    justify-content: space-evenly;

}

.section9 {
    max-width: 1920px;
    width: 100%;
    margin-top: 155px;
    background-image: url(../img/section9/Clip.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section9-1 {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.sec9-header {
    margin-top: 152px;
    max-width: 438px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.sec9-contact {
    font-size: 45px;
}

.under-contact {
    font-size: 17px;

}

.first3 {
    margin-top: 20px;
    max-width: 290px;
    width: 100%;
    height: 50px;
}

.form {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ff-center {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.form1 {
    display: flex;
    flex-direction: column;

}

.last {
    max-width: 890px;
    width: 100%;
    height: 110px;
}

.message {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.send {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 120px;
}

.butto {
    border: #E93656 solid 2px;
    background-color: Transparent;
    background-repeat: no-repeat;
    width: 187px;
    height: 50px;
    color: #E93656;
    cursor: pointer;
}