@media (max-width:480px) {
    #name {
        font-size: 40px;
    }

    .slider-percentage {
        margin-left: 100px;
    }

    .sec2-1 {
        position: absolute;
        margin-top: 350px;

    }

    .sec2-3 {
        display: none;
    }

    .adress {
        display: none;
    }

    .sec3-part1 {
        margin: 0;
    }

    .sec7 {
        display: none;
    }

    .section8 {
        display: none;
    }

    .sec6-proj22 {
        display: none;
    }

    .sec6-word-center {
        width: 239px;
    }

    .sec6-projects {
        margin: 0;
    }

    .sec6-proj33 {
        display: none;
    }

    .sec6-proj44 {
        display: none;
    }

    .sec6-proj55 {
        display: none;
    }

    .mid-me {
        margin-left: 30px;
    }

    .sec3-part {
        margin-left: 30px;
    }

    .sec4 {
        margin-left: 90px;
    }

}

@media (max-width:1024px) {
    .sec2-3 {
        display: none;
    }

    .sec7-img-space {
        width: 400px;
        height: 590px;
    }

    .sec7-mid {
        height: 590px;

    }

    .sec7-part {
        height: 590px;
    }

    .sec7-icon {
        margin: 0;
    }

    .sec7-img {
        width: 400px;
        height: 590px;
    }

    .sec7-part-main {
        width: 500px;
    }

    /* .sec4 {
        margin-left: 70px;
    }

    .sec6 {
        margin-left: 110px;
    } */
}